.movie-search-section {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  background: #232323;
}

.search-results-container {
  display: flex;
  height: 160px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  gap: 8px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #078080 #232323;
}

p {
  display: inline-block;
  margin: 0;
}

.search-result {
  display: flex;
  width: 360px;
  padding: 8px 14px;
  align-items: flex-start;
  gap: 8px;
  color: #f8f5f2;
  font-family: Kadwa;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #078080;
  transition: background 0.5s;
}

.search-result:hover {
  background: #f45d48;
}

.selected-movie-container {
  display: flex;
  height: 252px;
  padding: 6px 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 351px;
  height: 36px;
}

button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Kadwa;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border-width: 0;
}

button#add-movie {
  background: #f45d48;
}

button#add-movie:hover {
  background: #696969;
}

button#create-list {
  background: #078080;
}

button#create-list:hover {
  background: #696969;
}

button#add-list {
  border-radius: 16px;
  background: #078080;
}

button#add-list:hover {
  background: #696969;
}

#list-name-input {
  border-radius: 16px;
  padding-left: 12px;
}
